@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-color: #006466; */
    background-color: #261C2C;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
input[type="file"]{
  width:100%;
  max-width: 120px;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #261C2C; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3E2C41; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }